.fullscreen-background {
	background-attachment: fixed;
	background-size: cover;
	background-color: rgb(240,240,240);
	background-repeat:no-repeat;
	background-position:50% 50%;
	background-position:50% 50%\9 !important;
	width: 100%;
	min-height: 100%; 
	position: relative; 

	.information {
		z-index: 2;
		position: absolute;
		max-width: 100%;
		height: auto;
		left: 50px; 
		top: 170px; 
		color: $color-white;

		p.data {
			font-size: $typeface-size-small;
			font-weight: $typeface-weight-regular;
			margin: 10px 0 0 0;
		}

	}

	.overlay {
		@include overlay-background(0.65, 0);
	}

}

.main-cover {
	background-color: #000;
	position: relative;
	height: 100%;
	width: 100%;
	.carousel {
		height: 100%;
		width: 100%;
	}
	.carousel-inner {
		height: 100%;
		width: 100%;
		&> .item > img {
			object-fit: cover;
			// width: 100%;
			height: 100%;
		}
	}
	.item.active {
		height: 100%;
	}
	.information {
		z-index: 2;
		position: absolute;
		max-width: 100%;
		height: auto;
		left: 50px; 
		top: 170px; 
		color: $color-white;

		p.data {
			font-size: $typeface-size-small;
			font-weight: $typeface-weight-regular;
			margin: 10px 0 0 0;
		}
	}
}

.cover-item {
	background-size: cover;
	background-position: center center;
  	position: fixed;
	width: 100%;
	height: 100%;
	display: none;
	&.active {
		display: block;
	}
}

.close-cover {
	bottom: 0;
	position: absolute;
	width: 100%;
	font-size: 3em;
	padding: 0.5em;
	color: white;
}

.content-wrapper {
    position: relative;
}

.background-fix {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    left: 0;
    right: 0;
    background-color: #fff;
}