$grid-item-width: 1/3 * 100%;
$grid-item-width-sm-100: 1/4 * 100%;
$grid-item-width-md: 1/2 * 100%;
$grid-item-width-lg: $grid-item-width; // 1/3 * 100%

/* isotope */
.grid {
	.overlay {
		background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.5) 100%);
		margin: 6px;
		margin-bottom: 5px;
	}
}
.grid-item {
	position: relative;
	width: $grid-item-width;
	padding: $grid-padding;
	overflow: hidden;
	@each $col in $grid-items-cols {
		@include grid-item-col-($col);
	}
}
.grid-item--width2 {
	width: $grid-item-width * 2;
}
.grid-wrapper {
    position: relative;
}

.grid-overlay {
    position: absolute;
    background-color: #fff;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
}
.grid-filters {
	padding: 2em 1em 1em 1em;
}
.grid-filter.active {
	font-weight: bold;
}

.thumb-tile .information {
	position: absolute;
	bottom: .5em;
	padding: .5em;
	color: #fff;
	z-index: 2;
	left: .5em;
	right: .5em;
}

@media screen and (min-width: $break-small+100) {
	@include grid-item-width($grid-item-width-sm-100)
}
@media (min-width: $break-medium) {
	@include grid-item-width($grid-item-width-md)
}
@media (min-width: $break-large) {
	@include grid-item-width(1/3 * 100%)
}