.main-content {
	margin-top:  $navbar-height;
}
.fixed-toolbar {
	font-size: $typeface-size-small;
	background-color: $color-dark-gray;
	position: fixed;
	height: $fixed-toolbar-height;
	left: 0;
	top: 0;
	width: 100%;
	padding: 0;
	margin: 0;
	z-index: 100;
	@media screen and (max-width: $break-medium - 1) {
		display: none;
	}
	a {
		color: rgb(255,255,255) !important;
		font-weight: 100;
		letter-spacing: 0.1em;
		text-decoration: none;
	}

	.content-language {
		color: $color-gray;
		border-right: 1px solid $color-dark-gray;
		text-align: left;
		padding: 10px 20px;
	}

	.content-social {
		padding: 10px;
		color: $color-gray;
		border-left: 1px solid $color-dark-gray;
		text-align: center;
	}
}
.fixed-menu {
	width: 100%;
	padding: 0;
	margin: 0;
	nav {
		background-color: rgb(255,255,255);
		box-shadow: 0 4px 4px -2px rgba(0,0,0,0.1);
		-moz-box-shadow: 0 4px 4px -2px rgba(0,0,0,0.1);
		-webkit-box-shadow: 0 4px 4px -2px rgba(0,0,0,0.1);
	}
	a {
		text-decoration: none;
		font: bold 12px/18px sans-serif;
		transition: all 0.2s;
		&:hover {
			background: $color-dark-gray;
			// color: $color-white;
		}
	}
}
@media (min-width: $break-medium) {
	h1 {
		font-size: $typeface-size-xxxlarge;
	}
	.fixed-menu nav {
		top: $fixed-toolbar-height;
	}
	.main-content {
		margin-top:  $navbar-height + $fixed-toolbar-height;
	}
}



.fullscreen-background {
	background-image: url('../images/thumb/bg.jpg');
	background-attachment: fixed;
	background-size: cover;
	background-color: rgb(240,240,240);
	background-repeat:no-repeat;
	background-position:50% 50%;
	background-position:50% 50%\9 !important;
	width: 100%;
	min-height: 100%; 
	position: relative; 

	.information {
		z-index: 2;
		position: absolute;
		max-width: 100%;
		height: auto;
		left: 50px; 
		bottom: 50px; 
		color: $color-white;

		p.data {
			font-size: $typeface-size-small;
			font-weight: $typeface-weight-regular;
			margin: 10px 0 0 0;
		}

	}

	.overlay {
		z-index: 1;
		position: absolute;
		max-width: 100%;
		max-height: 100%;

		top: 10px;
		left: 10px;
		bottom: 0;
		right: 10px;


		background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* IE10+ */
		background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */			
	}

}

.col-events {
	font-size: $typeface-size-medium;
	padding: 0px;


	.col-item {
		width: 100%;
		position:relative;
		padding: 10px 10px 0 10px;
		// min-height: 15em;
		.information {
			z-index: 2;
			position: absolute;
			max-width: 100%;
			height: auto;
			left: 30px; 
			bottom: 20px; 
			color: $color-white;

			p.data {
				font-size: $typeface-size-small;
				font-weight: $typeface-weight-regular;
				margin: 10px 0 0 0;
			}

		}

		.overlay {
			z-index: 1;
			position: absolute;
			max-width: 100%;
			max-height: 100%;

			top: 10px;
			left: 10px;
			bottom: 0;
			right: 10px;


			background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* IE10+ */
			background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */			
		}

		img {
			width: 100%;
		}
	}	
}
.thumb-tiles {
	padding: 0 0 0 1em;
	.thumb-tile {
		// width: 200px;
		height: 12em;
		overflow: hidden;
		// margin: 10px;
		position: relative;
		margin: 1em 1em (-$col-slim-margin-bottom) 0;
	}
	img {
		position:absolute;
		left: -100%;
		right: -100%;
		top: -100%;
		bottom: -100%;
		margin: auto; 
		min-height: 100%;
		min-width: 100%;
	}
}
.event-tile {
	@extend .thumb-tile;
}
.col-news, .col-thumbs {
	font-size: $typeface-size-medium;
	border-left: 1px dotted $color-light-gray;
	border-right	: 1px dotted $color-light-gray;
	padding: 0;

	.col-item {
		width: 100%;
		padding: 10px 10px;
		border-bottom: 1px dotted $color-light-gray;
		img {
			width: 25%;
			float: left;
		}
		.content {
			float: left;
			margin-left: 5%;
			width: 70%;

			p.data {
				font-size: $typeface-size-small;
				font-weight: $typeface-weight-regular;
				margin: 10px 0 0 0;
			}
			p.title {
				font-size: $typeface-size-medium;
				font-weight: $typeface-weight-bold;
				margin: 0px 0 1px 0;
			}	
			p.abstract {
				font-size: $typeface-size-medium;
				line-height: $typeface-height-spacing;
				font-weight: $typeface-weight-regular;
				margin: 0 0 5px 0;
			}				 
		}		
	}
}
.col-additional {
	padding: 10px 10px 0 10px;
	font-size: $typeface-size-medium;
	.col-item {
		width: 100%;
		padding: 10px 15px;
		background-color: $color-light-gray;
		border-bottom: 1px dotted rgb(255,255,255);
		.content {
			min-height: 100%;

			p.sub-title {
				font-size: $typeface-size-small;
				font-weight: $typeface-weight-regular;
				margin: 10px 0 5px 0;
			}
			p.title {
				font-size: $typeface-size-xlarge;
				font-weight: $typeface-weight-xbold;
				line-height: 1.1em;
				margin: 0px 0 4px 0;
			}				
		} 
	}		 
}

.col-slim-clear {
	padding: 0;
	margin-bottom: $col-slim-margin-bottom;
}
.col-slim {
	@extend .col-slim-clear;
	&:not(:first-child) {
		border-left: 1px dotted #f0f0f0;
	}
	section {
		margin-bottom: $col-slim-margin-bottom;
	}
}	

.col-detail {
	padding: 10px 0px 0 10px;
	font-size: $typeface-size-medium;
	img {
		max-width: 100%;
	}

	h2 {
		margin-top: 10px;
	}

	p{
		font-family: $typeface;
		font-size: $typeface-size-large;
		font-weight: 300;
		color: $typeface-primary-color;
		line-height: 1.2em;
		margin: 5px 0 10px 0;
		width: 95%;
	}
}
.row-information {
	background-color: $color-xlight-gray; 
	padding: 20px 0;
	height: 70px;
	.info-label {
		// font-size: 150%;
		padding: 8px 10px;
		display: block;
	}
}

.no-padding {
	padding: 0;
}

.clearfix {
	clear: both;
}
footer {
	padding: 100px;
}

