.overlay {
	z-index: 1;
	position: absolute;
	max-width: 100%;
	max-height: 100%;
	top: $grid-padding;
	left: $grid-padding;
	bottom: $grid-padding;
	right: $grid-padding;
	background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.65) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
}
.main-content {
	margin-top:  $navbar-height;
}
.fixed-toolbar {
	font-size: $typeface-size-small;
	background-color: $color-dark-gray;
	position: fixed;
	height: $fixed-toolbar-height;
	left: 0;
	top: 0;
	width: 100%;
	padding: 0;
	margin: 0;
	z-index: 100;
	@media screen and (max-width: $break-medium - 1) {
		display: none;
	}
	a {
		color: rgb(255,255,255) !important;
		font-weight: 100;
		letter-spacing: 0.1em;
		text-decoration: none;
	}

	.content-language {
		color: $color-gray;
		border-right: 1px solid $color-dark-gray;
		text-align: left;
		padding: 10px 20px;
	}

	.content-social {
		padding: 10px;
		color: $color-gray;
		border-left: 1px solid $color-dark-gray;
		text-align: center;
	}
}
.fixed-menu {
	width: 100%;
	padding: 0;
	margin: 0;
	nav {
		background-color: rgb(255,255,255);
		box-shadow: 0 4px 4px -2px rgba(0,0,0,0.1);
		-moz-box-shadow: 0 4px 4px -2px rgba(0,0,0,0.1);
		-webkit-box-shadow: 0 4px 4px -2px rgba(0,0,0,0.1);
	}
	a {
		text-decoration: none;
		font: bold 12px/18px sans-serif;
		transition: all 0.2s;
		&:hover {
			background: $color-dark-gray;
			// color: $color-white;
		}
	}
}
@media (min-width: $break-medium) {
	h1 {
		font-size: $typeface-size-xxxlarge;
	}
	.fixed-menu nav {
		top: $fixed-toolbar-height;
	}
	.main-content {
		margin-top:  $navbar-height + $fixed-toolbar-height;
	}
}

.overlay {
	z-index: 1;
	position: absolute;
	max-width: 100%;
	max-height: 100%;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.big-dash {
	margin-top: 2em;
	height: 0.8em;
	width: 8em;
	background-color: #fff;
}

.thumb-tiles {
	padding: 0 0 0 1em;
	.thumb-tile {
		// width: 200px;
		height: 12em;
		overflow: hidden;
		// margin: 10px;
		position: relative;
		margin: 1em 1em (-$col-slim-margin-bottom) 0;
	}
	img {
		position:absolute;
		left: -100%;
		right: -100%;
		top: -100%;
		bottom: -100%;
		margin: auto; 
		min-height: 100%;
		min-width: 100%;
	}
}
.event-tile {
	@extend .thumb-tile;
}
.row-information {
	background-color: $color-xlight-gray; 
	padding: 20px 0;
	height: 70px;
	.info-label {
		// font-size: 150%;
		padding: 8px 10px;
		display: block;
	}
}

.no-padding {
	padding: 0;
}

.clearfix {
	clear: both;
}
footer {
	padding: 100px;
}

