<div class="col-additional">
	@@include('curriculum-tile.html', {
		"tag": "bachelor",
		"title": "Bachelor <br />of Arts <br />in Theater",
		"height": "@@height"
	})
	@@include('curriculum-tile.html', {
		"tag": "master",
		"title": "Master <br />of Arts <br />in Theater",
		"height": "@@height"
	})
	@@include('curriculum-tile.html', {
		"tag": "advanced",
		"title": "Advanced Studies <br />in Theater",
		"height": "@@height"
	})
	@@include('curriculum-tile.html', {
		"tag": "courses",
		"title": "Corsi",
		"height": "@@height"
	})
</div>