<!--[if lt IE 10]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<div class="container-fluid">
	<div class="row fixed-toolbar">
		<div class="col-sm-2 content-language"><a href="#">English</a></div>
		<div class="col-sm-10">
			<div class="pull-right">
				<ul class="list-inline content-social">
					<li class=""><a href="#">flickr</a></li>
					<li class=""><a href="https://www.youtube.com/user/ScuolaTeatroDimitri/">youtube</a></li>
					<li class=""><a href="https://www.facebook.com/pages/Scuola-Teatro-Dimitri/168751139847974">facebook</a></li>
					<li class=""><a href="#">twitter</a></li>
					<li class=""><a href="#">mailchimp</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="fixed-menu">
		<nav class="navbar navbar-fixed-top">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainNavbarCollapse" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="glyphicon glyphicon-menu-hamburger"></span>
				</button>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="mainNavbarCollapse">
				<ul class="nav navbar-nav">
					<li class="active">
						<a href="home.html">Scuola Teatro Dimitri</a>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Accademia<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="chi_siamo.html">Chi siamo</a></li>
							<li><a href="staff.html">Lo staff</a></li>
							<li><a href="testimonials.html">Dicono di noi</a></li>
						</ul>
					</li>
					<li><a href="formazione.html">Formazione</a></li>
<!--
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Formazione<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="bachelor.html">Bachelor</a></li>
							<li><a href="bachelor.html">Master</a></li>
							<li><a href="bachelor.html">Advanced Studies</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="courses.html">Corsi</a></li>
						</ul>
					</li>
-->
					<li><a href="shows.html">Spettacoli</a></li>
					<li><a href="students.html">Studenti</a></li>
					<li><a href="collabs.html">Collaborazioni</a></li>
					<li><a href="news.html">News &amp; Events</a></li>
					<li><a href="research.html">Ricerca</a></li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</nav>
	</div>
</div>