<div class="grid-wrapper" data-modules="isotope">
	<div class="grid">
		@@include('grid-item-staff.html', {
			"src" : "images/thumb/bio.jpg",
			"name" : "Walter White",
			"roleClass" : "bachelor",
			"roleLabel" : "Docente Bachelor"
		})
		@@include('grid-item-staff.html', {
			"src" : "images/thumb/bio1.jpg",
			"name": "Sherman Klump",
			"roleClass" : "bachelor",
			"roleLabel" : "Docente Bachelor"
		})
		@@include('grid-item-staff.html', {
			"src" : "images/thumb/bio2.jpg",
			"name": "Malcolm Sayer",
			"roleClass" : "master",
			"roleLabel" : "Docente Master"
		})
		@@include('grid-item-staff.html', {
			"src" : "images/thumb/bio.jpg",
			"name" : "Walter White",
			"roleClass" : "bachelor",
			"roleLabel" : "Docente Bachelor"
		})
		@@include('grid-item-staff.html', {
			"src" : "images/thumb/bio1.jpg",
			"name": "Sherman Klump",
			"roleClass" : "bachelor",
			"roleLabel" : "Docente Bachelor"
		})
		@@include('grid-item-staff.html', {
			"src" : "images/thumb/bio2.jpg",
			"name": "Malcolm Sayer",
			"roleClass" : "master",
			"roleLabel" : "Docente Master"
		})
		@@include('grid-item-staff.html', {
			"src" : "images/thumb/bio.jpg",
			"name" : "Walter White",
			"roleClass" : "bachelor",
			"roleLabel" : "Docente Bachelor"
		})
		@@include('grid-item-staff.html', {
			"src" : "images/thumb/bio1.jpg",
			"name": "Sherman Klump",
			"roleClass" : "bachelor",
			"roleLabel" : "Docente Bachelor"
		})
		@@include('grid-item-staff.html', {
			"src" : "images/thumb/bio2.jpg",
			"name": "Malcolm Sayer",
			"roleClass" : "master",
			"roleLabel" : "Docente Master"
		})
	</div>
	<div class="grid-overlay"></div>
</div>